

# av:Auth
AuthType Basic
AuthName reserved_area
AuthUserFile "/membri/spaceexplorers/beta/.htpasswd"
<Limit GET POST>
require valid-user
</Limit> 
# Auth

<Files .htaccess>
 order allow,deny
 deny from all
</Files>

<Files .htpasswd>
 order allow,deny
 deny from all
</Files>

<Files .mysqlpassword>
 order allow,deny
 deny from all
</Files>